/* Style de la section de la roue */
#roue-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.roue {
    width: 300px;
    height: 300px;
    position: relative;
}

/* Style du bouton */
.bouton {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.bouton:hover {
    background-color: #0056b3;
}
